<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121172766-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121172766-1');
  </script>

    <title>Wandercamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAE2ANSfhczJ1JeOx1sGfUMHPlB_keUr7Y" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" /> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/emanon/image/upload/c_scale,h_16,w_16/v1528417338/main-tent-logo.png" />
    
    <%# <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE2ANSfhczJ1JeOx1sGfUMHPlB_keUr7Y&callback=initMap">
    </script> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
